<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
     <!-- Initialization for data source -->
   <bean id = "dataSource" 
      class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name = "driverClassName" value = "org.postgresql.Driver"/>
      <property name = "url" value = "jdbc:postgresql://localhost/db_App"/>
      <property name = "username" value = "postgres"/>
      <property name = "password" value = "admin123"/>
   </bean>

	<bean id = "articleDao" class = "com.finaltask.corejavafinaltask.dao.impl.ArticleDaoImpl">
		<constructor-arg name = "dataSource" ref = "dataSource" ></constructor-arg>
	</bean>
	
	<bean id = "authorDao" class = "com.finaltask.corejavafinaltask.dao.impl.AuthorDAOImpl">
		<constructor-arg name = "dataSource" ref = "dataSource" ></constructor-arg>
	</bean>
	
	<bean id = "articleOperation" class = "com.finaltask.corejavafinaltask.dao.impl.ArticleOperationsImpl"/>
	
	<bean id = "downloadFile" class = "com.finaltask.corejavafinaltask.DownloadFile"/>
	
	<!-- 
	<bean id ="mainClass" class = "com.finaltask.corejavafinaltask.Main">
		<constructor-arg name = "downloadFile" ref = "downloadFile"/>
		<constructor-arg name = "articleDao" ref = "articleDao"/>
		<constructor-arg name = "authorDao" ref = "authorDao"/>
		<constructor-arg name = "articleOperations" ref = "articleOperation"/>
	</bean> -->
	
	<bean id ="pubApp" class = "com.finaltask.corejavafinaltask.PublicationApp">
		<constructor-arg name = "downloadFile" ref = "downloadFile"/>
		<constructor-arg name = "articleDao" ref = "articleDao"/>
		<constructor-arg name = "authorDao" ref = "authorDao"/>
		<constructor-arg name = "articleOperations" ref = "articleOperation"/>
	</bean>
</beans>